<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="info" monitorInterval="30" strict="true" schema="Log4J-V2.2.xsd">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %t %class{36} %L %M --%msg%xEx%n"/>
        </Console>

        <!-- 文件日志 -->
        <!--log4j2的取系统变量方式是${sys:user.dir}格式，与log4j有区别，注意！！！！-->
        <RollingFile name="mylog" fileName="${sys:user.dir}/logs/app_mybase.log"  filePattern="${sys:user.dir}/logs/app_mybase_%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %t %class{36} %L %M --%msg%xEx%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="80MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="myerrorlog" fileName="${sys:user.dir}/logs/app_mybase_error.log"  filePattern="${sys:user.dir}/logs/app_mybase_%d{yyyyMMdd}-%i_error.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %t %class{36} %L %M --%msg%xEx%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="80MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="mylog"/>
            <AppenderRef ref="myerrorlog"/>
        </Root>
        <!-- （sql日志打印）建立一个logger，此logger监听name对应的包名下的日志输出，level表示日志级别 additivity表示是否传递到父级-->
<!--        <Logger name="com.jesse.rest.mybase.dao" level="info" additivity="false">-->
<!--            <AppenderRef ref="Console" />-->
<!--            <AppenderRef ref="mylog" />-->
<!--        </Logger>-->

    </Loggers>
</Configuration>